@font-face {
    font-family: "Header";
    src: url(Fonts/TheCheelaved-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #444b5d;
}

h1{
    font-family: "Header", sans-serif;
    font-size: 70px;
    color: #deded8;
}